
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='icon.png') }}" />
    <title>Stable Diffusion demo</title>
</head>
<body>
<div class="container">
  <h3 class="center-align">Stable Diffusion App</h3>
  <p class="center-align">Generate images with stable diffusion for free! Enter your prompt below and hit "Create" to generate an image (takes ~10 seconds per image).</p>
    <div class="container">
      <div class="row">
        <div class="input-field col s9">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="user-prompt" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Prompt</label>
        </div>
        <button class="btn waves-effect waves-light" id="submit">Generate
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="row">
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
      <div class="row">
        <img src="{{ generated_image|default("https://images.squarespace-cdn.com/content/v1/6213c340453c3f502425776e/0715034d-4044-4c55-9131-e4bfd6dd20ca/2_4x.png?format=512w", true) }}" class="mainImg">
      </div>
    </div>
</div>
    <script src="{{ url_for('static', filename='js/jquery-3.6.3.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</body>
</html>

